<div class="mood-header mb-4 text-center">
  <h1><%= @mood.emoji %> Your <%= @mood.name.capitalize %> mood </h1>
</div>

<div class="music-list-wrapper d-flex flex-column align-items-center">
  <% if @mood.musics.any? %>
    <% @user_moods.each do |user_mood| %>
      <% if user_mood.mood_id == @mood.id && user_mood.user_id == current_user.id %>
        <div class="music-info-card p-3 mb-4">
          <div class="music-text">
            <h3 class="mb-2">"<%= user_mood.music.title %>"</h3>
            <p><strong>Artist:</strong> <%= user_mood.music.artist %></p>
            <p><strong>Album:</strong> <%= user_mood.music.album %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p class="text-center">No musics yet.</p>
  <% end %>
</div>


<div class="d-flex justify-content-center mt-4">
  <%= link_to "Select  new mood", root_path, class: "btn btn-purple btn-lg" %>
</div>
