<div class="main-container px-2">
  <div class="container">
    <div class="music-search-title">
      <h1>Your mood: <%= @mood.name.downcase %> <%= @mood.emoji %></p>
    </div>
  </div>
  <div class="container mb-2">
    <div class="ai-response-card d-flex flex-column align-items-start">
      <p class="mb-2">Here's a song you might like:</p>
      <div class="ai-proposition-card">
        <%= render "ia_last_message", messages: @messages, mood: @mood %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="buttons d-flex justify-content-between flex-wrap align-items-center">
      <%= button_to "Add to moodlist ❤️", mood_user_moods_path(@mood), class: 'add-button' %>
      <%= simple_form_for [@mood, @message] do |f| %>
        <%= f.button :submit, 'Find the perfect song✨', class: "ai-button" %>
      <% end %>
      <%= link_to "Done? Check your moodlist", mood_path(@mood)  %>
    </div>

  </div>
</div>
