<div class="container">

  <h1> Ask for new music</h1>
  <p><%= @mood.emoji %><%= @mood.name %></p>
</div>

<div class="container">
  <%= render "ia_last_message", messages: @messages, mood: @mood %>
</div>

<div class="container">
  <%= simple_form_for [@mood, @message] do |f| %>
    <%= f.button :submit, 'Look for a music',
      id: 'look-button',
      class: 'btn btn-primary' %>
  <% end %>

  <%= button_to "Like ? Add this song to your musics",
    mood_musics_path(@mood),
    method: :post,
    id: "like-button",
    # lié au pseudo-code ligne 13 music_controller.rb
    class: "btn btn-success mt-2 #{'d-none' if @hide_button}" %>


  <%= link_to "Enough ? Go to the mood to see musics", mood_path(@mood)  %>
</div>

<%= render "shared/flash" %>

