<div class="container">

  <h1> Ask for new music</h1>
  <p><%= @mood.emoji %><%= @mood.name %></p>
</div>

<div class="container">
  <%= render "ia_last_message", messages: @messages, mood: @mood %>
</div>

<div class="container">
  <%= simple_form_for [@mood, @message] do |f| %>
    <%= f.button :submit, 'Look for a music', class: 'btn btn-primary' %>
  <% end %>

  <%= button_to "Like ? Add this song to your musics", mood_musics_path(@mood) %>
</div>
